@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway&display=swap');

:root {
    --trans: all 300ms ease-in-out;
    --tshadow: -2px 2px 5px #1f1f1f91;
    --titletext: 'Poppins', sans-serif;
    --paratext: 'Raleway', sans-serif;
    --box: 1px solid #000;

    --navColor: #3d4c50c4;
    --primeDark: #303435fa;
    --primaryLight: #f7ba7e;
    --secondaryLight:#f1f8ff;
    --thirdyLight: #b9c4ce;
    --btnhover: #3db8b8;
}

*, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--paratext);
}

body {
    height: 100vh;
    outline-offset: -10px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.scrollbar-primary::-webkit-scrollbar {
    /* background-color: rgba(145, 154, 156, 0.80); */
    background-color: rgb(169, 174, 175);
    width: 6px;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 50%;
    outline: 1px solid rgb(0, 0, 0);
    background-color: var(--primaryLight);
}
.bolder {
    font-weight: bolder;
}

button:focus {
    outline: none;
}

.contain {
    max-width: 1700px;
    min-width: 300px;
    margin: 0 auto;
    padding: 10px;
}

.container-right {
    padding: 50px 20px 20px 370px;
}

/* ////////////////////////////////////// */
/* //////////// Media Queries /////////// */
/* ////////////////////////////////////// */
@media (max-width : 992px) {
    .container-right {
        padding: 20px 50px;
    }
}

@media (max-width: 768px) {
    .container-right {
        padding: 5px;
    }
}

@media (max-width: 576px) {
    .container-right {
        padding: 20px;
    }
}

@media (max-width: 425px) {
    .only-large {
        display: none;
    }
}

@media (max-width: 380px) {
    .container-right {
        padding: 5px;
    }
}